@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
}

.caixa {
    background-color: lightgrey;
    boder: 1px solid black;
    padding: 10px;
    text-align: center;

}

#top {
    grid-area: 1 / 1 / 2 / 3;
    background-color: blue;
}

#menu {
   grid-area: 2 / 1 / 3 / 3;
   background-color: orange;
}

#principal {
    grid-area: 3 / 1 / 4 / 2;
    background-color: pink;

}

#secundaria {
    grid-area: 3 / 2 / 4 / 3;
    background-color: green;

}
#rodape {
    grid-area: 4 / 1 / 5 / 2;
    background-color: yellow;

}

